[run]
source = src
omit = src/**/__init__.py,
       src/tests/**,
       src/utils/characters.py,
       src/utils/commands.py,
       src/app.py,
       src/console_io.py,
       src/index.py,
       src/performance.py
